<form (ngSubmit)="submitOrder()" [formGroup]="orderForm">
  <div class="form-container">
    <mat-form-field class="name-form">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Name">
      @if (orderForm.get('name')?.invalid && orderForm.get('name')?.touched) {
        <mat-error>
          Name ist erforderlich
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Bestellung</mat-label>
      <textarea formControlName="description" matInput placeholder="Bestellung"></textarea>
      @if (orderForm.get('description')?.invalid && orderForm.get('description')?.touched) {
        <mat-error>
          Bestellung ist erforderlich
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field class="price-form">
      <mat-label>Preis</mat-label>
      <input formControlName="price" matInput placeholder="Preis" type="number">
      @if (orderForm.get('price')?.invalid && orderForm.get('price')?.touched) {
        <mat-error>
          Preis ist erforderlich
        </mat-error>
      }
    </mat-form-field>

    <div class="payment-container">
      <mat-checkbox class="payment-text" formControlName="paid">
        Bereits bezahlt
      </mat-checkbox>
      @let tourId = shoppingTourId();
      <a
        [class.disabled]="isPaid"
        [href]="tourId ? shoppingTourService.getPayPalLinkForShoppingTour(tourId) : ''"
        [style.pointer-events]="isPaid ? 'none' : 'auto'"
        class="payment-text"
        rel="noopener noreferrer"
        target="_blank"
      >
        Jetzt bezahlen
      </a>
    </div>

    <mat-checkbox class="payment-text" formControlName="wantsToJoin">
      Einkäufer:in begleiten
    </mat-checkbox>
  </div>
  <div class="button-container">
    @let order = existingOrder();
    @if (order) {
      <button matButton="elevated" type="button" (click)="cancelOrder(order.id)" class="dialog-button">
        Bestellung stornieren
      </button>
    }
    <button [disabled]="orderForm.invalid" class="dialog-button" matButton="elevated" type="submit">
      {{ existingOrder() ? 'Bestellung aktualisieren' : 'Bestellung hinzufügen' }}
    </button>
  </div>
</form>
