<table [dataSource]="orders" class="mat-elevation-z8"
       mat-table>
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell>Besteller</th>
    <td *matCellDef="let order" mat-cell>{{ order.name }}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th *matHeaderCellDef class="description-column" mat-header-cell>Bestellung</th>
    <td *matCellDef="let order" class="cell-description, description-column" mat-cell>{{ order.description }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th *matHeaderCellDef mat-header-cell>Preis</th>
    <td *matCellDef="let order" class="center-cell" mat-cell>
      {{ order.price | currency:'EUR' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="amountPaid">
    <th *matHeaderCellDef mat-header-cell>Bereits bezahlt</th>
    <td *matCellDef="let order" class="center-cell" mat-cell>
      <div class="amount-paid-container">
        <input (change)="updateAmountPaid(order, $event)"
               (click)="$event.stopPropagation()"
               [value]="order.amountPaid"
               matInput
               min="0"
               step="0.01"
               type="number">
        €
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="paid">
    <th *matHeaderCellDef mat-header-cell>Bezahlt</th>
    <td *matCellDef="let order" class="center-cell" mat-cell>
      <mat-checkbox
        (change)="updatePaymentStatus(order)"
        (click)="$event.stopPropagation()"
        [checked]="order.paid"
        [disabled]="!isBuyer()"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="wantsToJoin">
    <th *matHeaderCellDef mat-header-cell>Begleitet</th>
    <td *matCellDef="let order" class="center-cell" mat-cell>
      <mat-checkbox
        (click)="$event.stopPropagation()"
        [checked]="order.wantsToJoin"
        [disabled]="!isBuyer()"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="payNowButton">
    <th *matHeaderCellDef mat-header-cell>Jetzt bezahlen</th>
    <td *matCellDef="let order" class="center-cell" mat-cell>
      <button (click)="openPayPalLink(); $event.stopPropagation()" [disabled]="order.paid" matMiniFab
              matTooltip="Bestellung hinzufügen">
        <mat-icon>paypal</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr (click)="editOrder(order)" *matRowDef="let order; columns: displayedColumns;" mat-row></tr>
</table>
