<form (ngSubmit)="submitShoppingTour()" [formGroup]="shoppingTourForm">
  <div class="form-container">
    <mat-form-field class="name-form">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Dein Name">
      @if (shoppingTourForm.get('name')?.invalid && shoppingTourForm.get('name')?.touched) {
        <mat-error>
          Name ist erforderlich
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name des Ladens</mat-label>
      <input formControlName="shopName" matInput placeholder="Name des Ladens">
      @if (shoppingTourForm.get('shopName')?.invalid && shoppingTourForm.get('shopName')?.touched) {
        <mat-error>
          Name des Ladens ist erforderlich
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Datum</mat-label>
      <input [matDatepicker]="picker" formControlName="date" matInput placeholder="Date">
      <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      @if (shoppingTourForm.get('date')?.invalid && shoppingTourForm.get('date')?.touched) {
        <mat-error>
          Datum ist erforderlich
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field class="name-form">
      <mat-label>Link zu deinem PayPal</mat-label>
      <input formControlName="payPalLink" matInput placeholder="https://paypal.me/...">
      @if (shoppingTourForm.get('payPalLink')?.invalid && shoppingTourForm.get('payPalLink')?.touched) {
        <mat-error>
          Bitte einen gültigen PayPal Link eingeben
        </mat-error>
      }
    </mat-form-field>

  </div>
  <div class="button-container">
    @let shoppingTour = existingShoppingTour();
    @if (shoppingTour) {
      <button matButton="elevated" type="button" class="dialog-button"
              (click)="deleteShoppingTour(shoppingTour.id)">
        Einkauf stornieren
      </button>
    }
    <button [disabled]="shoppingTourForm.invalid" class="dialog-button" matButton="elevated" type="submit">
      {{ shoppingTour ? 'Einkauf aktualisieren' : 'Einkauf hinzufügen' }}
    </button>
  </div>
</form>
